@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("/assets/rttr_layouts/materials/bg.png");
}

.video {
    background-color: black;
}

#sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(1920px * 0.33);
}

.infoBox {
    padding: 10px;
    width: calc(100% - 20px);
    font-size: 18px;
    color: white;
}

.row {
    display: flex;
    width: 100%;
}

.runnerInfo {
    align-items: center;
}

.name {
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-top: -0.2em;
}

.currentTime {
    margin-left: auto;
    font-family: 'Inconsolata', monospace;
    font-size: 2.4em;
    margin-top: -0.3em;
    color: rgba(255, 255, 255, 0.7)
}

.mirrorId, .icon {
    width: 40px;
    height: 40px;
}

.mirrorId {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6em;
    line-height: 1.2em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.label {
    background-color: rgba(0, 0, 0, 0.2);
    width: 20%;
}

.value {
    width: 80%;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 3.2em;
    line-height: 1em;
    text-align: center;
    color: white;
    opacity: 0.4;
}

#title img {
    width: 1.2em;
    margin-top: 0.05em;
}

#box1 {
    background-color: rgba(139, 0, 0, 0.7);
}

#box2 {
    background-color: rgba(0, 0, 139, 0.7);
}

#box3 {
    background-color: rgba(184, 135, 11, 0.7);
}

#box4 {
    background-color: rgba(0, 100, 0, 0.7);
}

#mainScreen {
    display: flex;
}

#mainScreen .video {
    width: calc(1920px * 0.64);
    height: calc(1080px * 0.64);
}

#mainScreen .progress {
    width: calc(1920px * 0.03);
}

#bottom {
    display: flex;
    justify-content: space-between;
}

.subScreen .progress {
    height: calc(1080px * 0.04);
}

.video.sub {
    width: calc(1920px * 0.32);
    height: calc(1080px * 0.32);
}

.progress {
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.progress .mirrorId {    
    position: absolute;
    color: white;
    opacity: 0.8;
}

#progress1 .mirrorId {
    width: calc(1920px * 0.03);
    height: calc(1920px * 0.03);
    background-color: darkred;
    font-size: 42px;
}

.subScreen .mirrorId {
    width: calc(1080px * 0.04);
    height: calc(1080px * 0.04);
    font-size: 32px;
}

#progress2 .mirrorId {
    background-color: darkblue;
}

#progress3 .mirrorId {
    background-color: darkgoldenrod;
}

#progress4 .mirrorId {
    background-color: darkgreen;
}

.progress .remaining {
    background-color: rgba(238, 255, 0, 0.8);
    height: 100%;
}