:root {
    --text-color: white;

    --group1-color: darkblue;
    --group1-background: rgba(0, 0, 139, 0.7);

    --group2-color: darkred;
    --group2-background: rgba(139, 0, 0, 0.7);

    --group3-color: darkgoldenrod;
    --group3-background: rgba(184, 135, 11, 0.7);

    --group4-background: rgba(0, 100, 0, 0.7);
}