#boxGroupA {
    position: absolute;
    left: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 560px;
    font-size: 16px;
    color: white;
    top: 20px;
    background-color: #0800ff;
}

#boxGroupB {
    position: absolute;
    left: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 560px;
    font-size: 16px;
    color: white;
    top: 200px;
    background-color: #00d8ff;
}

#boxGroupC {
    position: absolute;
    left: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 560px;
    font-size: 16px;
    color: white;
    top: 355px;
    background-color: #00bba4;
}

#boxGroupD {
    position: absolute;
    left: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 560px;
    font-size: 16px;
    color: white;
    top: 510px;
    background-color: #00ff2e;
}

.name-column {
    float: left;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.icon-column {
    float: left;
    width: 15%;
}

.left-column {
    float: left;
    width: 17%;
    background-color: rgba(0, 0, 0, 0.1);
}

.right-column {
    float: right;
    width: 68%;
    /* background-color: #ddd; 視覚化のための背景色   */
}

.progress1 {
    position: absolute;
    background-color: #ccc;
    left: 640px;
    top: 5px;
    width: 76px;
    height: 670px;
    overflow: hidden;
}

.progress2 {
    position: absolute;
    background-color: #ccc;
    left: 90px;
    top: 1035px;
    width: 550px;
    height: 45px;
    overflow: hidden;
}

.progress3 {
    position: absolute;
    background-color: #ccc;
    left: 730px;
    top: 1035px;
    width: 550px;
    height: 45px;
    overflow: hidden;
}

.progress4 {
    position: absolute;
    background-color: #ccc;
    left: 1370px;
    top: 1035px;
    width: 550px;
    height: 45px;
    overflow: hidden;
}

.progress {
    background-color: #eeff00;
    height: 100%;
}